.bz
{
    background:		transparent url('../images/bz.png') 0px 1px no-repeat;
    padding:		1px 1px 1px 17px;
}

.xc
{
    background:		transparent url('../images/xc.png') 0px 1px no-repeat;
    padding:		1px 1px 1px 17px;
}

